*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.container {
    width: 375px;
    background-color:#e9e9e9;
    border-radius: 10px;
    
}

header {
    background-color:#181661;
    color: #FFFFFF;
    height: 66px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 18px;;
    align-items: center;
    color: #e9e9e9;
    
}

main {
    padding: 24px;
}

label {
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #777777;
}

select {
    width: 100% ;
    height: 48px;
    left: 24px;
    top: 113px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) ;
    margin-top: 6px;
    margin-bottom: 24px;
    padding-left: 16px;
}

input {
    width: 100% ;
    height: 48px;
    left: 24px;
    top: 113px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) ;
    font-size: 21px;
}

button {
    background:#181661;
    border-radius: 25px;
    height: 48px;
    cursor: pointer;
    color: #e9e9e9 ;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    border:none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;
    
}  

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 5px , solid , #181661 ;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.currency-container {
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.currency-name {
    font-size: 19px;
    line-height: 18px;
    color:#181661 ;
    font-weight:18px;
    
}

.currency-value {
    color:#181661 ;
    font-weight: bold;
    font-size: 23px;
}

.Arrow-png {
   
}

.name-select {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #555555;
}

b {
    font-weight: 700 ; 
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #777777;
    margin-bottom: 2px;
}

.name-select {
   font-size: 20px;
}